.movie{
  width: 100%;
}

.movie img{
  width: 300px;
  height: 500px;
}
.title{
  width: 100%;
  max-width: 294px;
  border: 3px solid black;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
